#col1, #col2, #col3 {
    position: fixed;
    height: calc(100% - 85px);
    width: 90%;
    
    overflow-y: scroll;
    margin: 10px auto;
    padding: 0 5px;
    border-radius: 21px;
    z-index: -10;

    a {
        max-width: 450px;
        margin: 0 auto;
        display: block;
        text-decoration: none;
        -webkit-user-drag: none;
    }
    
    .image {
        width: 100%;
        height: 300px;
        background-size: cover;
        max-width: 450px;
        border-radius: 15px 15px 0 0;
    }
    
    .textContainer {
        background-color: rgba(255,255,255,1.0);
        padding: 0 20px;
        border-radius: 0 0 15px 15px;
        font-family: 'Victor Mono';
        box-shadow: 5px 5px rgba(80, 80, 80, 0.7);
    }
    
    .textContainer:before {
        display: block;
        margin: 0 auto;
        width: 80%;
        max-width: 200px;
        color: white;
        position: relative;
        top: -27px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: cadetblue;
        text-align: center;
        line-height: 21px;
        padding: 3px;
        font-size: 0.8em;
    }
    
    .coverTitle,
    .coverText {
        width: 100%;
        margin: 0px auto;
        color: rgba(0,0,0,1.0);
        background-color: rgba(255,255,255,1.0);
    }
    
    .coverTitle {
        font-size: 2em;
        margin: 20px 0;
        text-align: center;
    }

    .coverText {
        margin: 40px 10px;
    }
    
    .columnContainer {
        width: 95%;
        margin: 20px auto;
    }
}

#col1.animated,
#col2.animated,
#col3.animated {
    transition: 0.4s ease-in-out;
    pointer-events: none;
}

.col1::-webkit-scrollbar,
.col2::-webkit-scrollbar,
.col3::-webkit-scrollbar {
    display: none;
}

#col1 {
    transform: translate(0px, 0);
}

#col2 {
    transform: translate(700px, 0);
}

#col1.current,
#col2.current,
#col3.current {
    z-index: 10;
}


