.viewNavigatorContainer {
    user-select: none;
    -webkit-user-drag: none;
    position: fixed;
    top: 72px;
    left: 0%;
    width: 80%;
    height: 100%;
    padding-left: 15px;
    
    // max-width: 600px;
}