
.projects {
    .halfcard:nth-child(odd) { 
        margin-right: 5px;
    }

    .halfcard:nth-child(even) { 
        margin-left: 6px;
    }

    .halfcard {
        background-color: #888;
        margin: 0 auto;
        display: block;
        margin: 25px;
        width: 40%;
        float: left;

        .iconLink {
            display: inline;
            .logo {
                width: 79px;
            }
            
        }    
    }
}