.arrowHandler {
    margin: 0;
    position: absolute;
    top: 50%;
    display: block;
    color: white;
    font-family: "Lucida Sans", sans-serif;
    text-align: center;
    z-index: 5;
    font-size: 0.5em;
    line-height: 12px;
    text-shadow: 3px 3px black;
    background-color: rgba($color: #333, $alpha: 0.5);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 13px;
    pointer-events: all;
    width: 10%;
    z-index: 100;
}

.arrowHandler.left {
    left: 10%;
}

.arrowHandler.right {
    right: 10%;
}

