header {
    z-index: 10;
    background-color: #333;
    color: white;
    width: 100%;
    height: 72px;

    svg.logo {
        margin: 12px;
        cursor: pointer;
        height: 50px;
    }

    svg.githubLogo {
        float: right;
        margin-top: 18px;
        margin-right: 15px;

        path {
            fill: #fff;
            cursor: pointer;
        }
    }

    .headerText {
        float: right;
        margin: 12px;
        font-family: 'Victor Mono';
        font-size: 0.8em;
    }
}
