.tagContainer {
    margin: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

.tag {
    background-color: #333;
    color: white;
    font-size: 0.7em;
    padding: 15px;
    border-radius: 15px;
    margin: 4px;
    display: inline-block;
    font-family: "Victor Mono";
    flex: 1 1 auto;
    text-align: center;
}