.viewNavigatorContainer {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    margin: 0 7px;
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-color: rgba($color: #333, $alpha: 0.5);
    border-radius: 15px;
    color: white;
    z-index: 100;
    padding: 10px;
}

@media only screen and (min-width : 500px) {
    .viewNavigatorContainer {
        top: 73px;
    }

    .closeButton { 
        right: 10%;
        top: 83px;
    }

    .arrowHandler {
        width: 125px;
    }
}
