.viewNavigatorContainer {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    width: 93%;
    height: 100%;
    margin: 0 auto;
}

@media only screen and (min-width : 400px) {
    .viewNavigatorContainer {
        width: 70%;
    }
}
